<!DOCTYPE html>
<html>

<head>
    <%- partial('_partial/head') %>
</head>

<body>
    <%- partial('_partial/navbar') %>

    <div class="container">
        <section class="main-content columns">
            <%- partial('_partial/sidebar') %>
            <main>
                <%- body %>
            </main>
        </section>
    </div>
    <%- partial('_partial/footer') %>

    <script src="<%= url_for('theme-doku/js/doku.js') %>"></script>
</body>

</html>
